.p {
    justify-content: center;
    display: flex;
    text-align: center;
}

.p:last-child {
    height: 48px;
}

.item {
    position: relative;
}

.link {
    color: inherit;
    text-decoration: none;
}