  .container {
    width: 480px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 180px;
    flex-direction: column;
  }
  
  .form {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  .heading {
    margin: auto;
  }
  
  .link {
    text-decoration: none;
    color: #4C4CFF;
  }

  .text {
    text-align: center;
  }

  .button {
    margin: auto;
  }