  .container {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
  }
  
  .form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-top: 80px;
  }

  .button {
   width: 'min-content';
   align-self: center;
  }

  .div {
    display: flex;
    justify-content: flex-end;
    max-height: 56px;
  }