.list {
    list-style: none;
    padding-left: 0;
    max-height: 464px;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.construcor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.order {
    display: flex;
    justify-content: right;
}

.p {
    display: flex;
    align-items: center;
}

.text {
    margin: 180px auto 0;
    max-width: 360px;
}

.currencyIcon {
    transform: scale(1.5);
}

.scroll::-webkit-scrollbar-track {
    background: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
    background: #8585AD;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}